<ul>
  <li>
    <%= render :partial => "/shared/admin/search", :locals => {:url => admin_facets_url} %>
  </li>
  <li>
    <%= link_to_function t('.create_new'), 
          "display_new_page_dialog($(this), '#{new_admin_facet_url}', '#{t('.create_new')}')", 
          :class => "add_icon" %>
  </li>
<% if @pages.many? and !searching? %>
  <li>
    <%= link_to t('.reorder'), admin_facets_url,
                :id => "reorder_action",
                :class => "reorder_icon" %>

    <%= link_to t('.reorder_done'), admin_facets_url,
                :id => "reorder_action_done",
                :style => "display: none;",
                :class => "reorder_icon" %>
  </li>
<% end %>
</ul>